*{margin:0;padding:0;}
html,body{height:100%;} /*高度自适应*/
li{
	list-style:none;
}

a{
	text-decoration:none;
	border:none;
}
input,button,img{
	border:none;
	outline:none;
	background:none;
}
.carousel-inner{
	
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
}

.clearfix{
	zoom:1;
}

@media (min-width:768px){
	.container{
		width:750px;
	}
}
@media (min-width:992px){
	.container{
		width:970px;
	}
}
@media (min-width:1200px){
	.container{
		width:1170px;
	}
}
@media (min-width:1230px){
	.container{
		width:1200px;
	}
}

div,p,span,a,li,h3,h4{
font-family:'微软雅黑';
letter-spacing:2px;
}
